body{
}
#mainform{
    text-align: center;
    background: #cccccc;
    padding: 40px;
    margin: 1% 10%;

    font-family: "helvetica";
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    alignment: center;
    box-sizing: border-box;
}
#mainform div {
    padding: 10px ;
}
#mainform input {
    border-radius: 5%;
    border-width: medium;
    padding: 1px 5px;
    transition-duration: 0.2s;
}
#mainform input::placeholder {
    font-style: italic;
}
#mainform input:hover{
    border-width: thick;

}
label{
    position: relative;
    top: 4px;
    width: 200px;
    display: inline-block;
}
#cont{
    overflow: hidden;
}
#submit_btn{
    width: 100px;
    font-weight: bold;
    font-size: 0.7em;
}